section.benefits .content {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 3em;
    flex-wrap: wrap;
}

.benefits .left {
    flex: 1;
    /* padding-right: 2em; */
    min-width: 300px;
}

.benefits .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits ul.benefit-list {
    flex: 1;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    
}



.benefits .benefit-card {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 2.5em 2em;
    border-radius: 10px;
    max-width: 300px;
}

@media screen and (max-width: 800px) {
    

    .benefits ul.benefit-list {
        grid-template-columns: 1fr;
        
    }

    .benefits .benefit-card {
        margin: 0 auto;
    }

    section.benefits .content {
        flex-direction: column;
        align-items: center;
    }
}

.benefits .benefit-card .card-title {
    border-left: 1px solid #888;
    padding-left: 10px;
}
