@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

:root {
    --hero-bg-color: #e6cffb;
    --purple-color: #370c5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--purple-color);
    margin-bottom: 1em;
}

p, a, span, li, button {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--purple-color);
    margin-bottom: .5em;
}

button {
    padding: 10px 1.5em;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--purple-color);
    color: white;
    font-weight: 500;
    width: fit-content;
    margin: 1em 0;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    /* font-size: 1.2em; */
}

button:hover {
    background: transparent;
    border: 1px solid var(--purple-color);
    color: var(--purple-color);
    
}

a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    width: 100%;
}

.show-mobile {
    display: none;
}

.show-mobile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}



section {
    padding: 6.5em 3.5em;

}

section h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

section span.section-indicator {
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 500;
    color: #bda2c9;
    margin-bottom: 0.5em;
    display: inline-block;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 640px) {
    .show-desktop {
        display: none !important;
    }

    .show-mobile {
        display: block;
    }

    section {
        padding: 4em 1.5em;
        text-align: center;
    }
}

/* Animation */
@keyframes appear{
    from {
        opacity: 0.5;
        scale: 0.5;
        /* transform: translateY(20px); */
    }
    to {
        opacity: 1;
        scale: 1;
        /* transform: translateY(0); */
    }
}

section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
