header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(0.5s);
     /* background-color: rgba(255, 255, 255, 0.2); */
    z-index: 1000;
}

header nav {
    display: flex;
    gap: 1em;
}

header nav a{
    margin: 0;
}

header .logo {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--purple-color);
}