.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--hero-bg-color);

    display: flex;
    gap: 1em;
}

.hero-content .left, .hero-content .right {
    width: 50%;
}

.hero-content .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em 3.5em;
    padding-bottom: 5em;
    color: teal;
}

.hero-content .right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-content .left h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 900px) {
    .hero-content .left h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 640px) {
    
    header .logo {
        font-size: 1.5em;
    }

    .hero-content {
        flex-direction: column;
        height: 100%;
    }

    .hero-content .left, .hero-content .right {
        width: 100%;
        
    }

    .hero-content .left {
        align-items: center;
        text-align: center;
        padding-top: 8em;
        padding-bottom: 0;
    }

    .hero-content .right {
        overflow: hidden;
    }

    .hero-content .left h1 {
        font-size: 2.5em;
    }

    .hero-content .right img {
        height: auto;
    }
}

