.ratings ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}


.ratings ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #ddd;
    padding: 0.5em 2em;
    min-width: 250px;
}

.ratings ul li span {
    font-family: "Playfair Display", serif;

}

.ratings ul li span.tag {
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 11px;
    text-transform: uppercase;
}

.ratings ul li:first-child span.tag {
    background-color: rgba(139, 0, 0, 0.2);
    color: darkred;
}

.ratings ul li:nth-child(2) span.tag {
    background-color: rgba(184, 135, 11, 0.2);
    color: darkgoldenrod;
}

.ratings ul li:nth-child(3) span.tag {
    background-color: rgb(55, 12, 90, 0.2);
    color: var(--purple-color);
}

.ratings ul li:last-child span.tag {
    background-color: rgb(0, 128, 128, 0.2);
    color: teal;
}

.ratings ul li span.rating-num {
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 0.3em;
    
}

@media screen and (max-width: 640px) {

    .ratings ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ratings ul li  {
        flex: 1 1 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-left: none;
        border-bottom: 1px solid #ddd;
        padding: 1.5em 0;
    }
}
